{% extends 'base.html.twig' %}
  

  
{% block body %}
    <div class="container">
        
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_booking_index') }}"> 
                    View All Bookings
                </a>
                <a class="btn btn-outline-info float-right" href="{{ path('app_booking_edit', {'id': 1}) }}" style="margin-right: 5px;"> 
                    Edit Booking
                </a>
            </div>
            <div class="card-body">
            <div id="presidents">Loading...</div>
            </div>
        </div>
    </div>
    

{% endblock %}